
body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: bottom-center;
}


.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 3px;
  padding-right: 14px;
}

.card > img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}

.card-info h2 {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  position: relative;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
