  
<div class="title text-center">
  <h1>Luxifi</h1>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://nicholasidoko.com/blog/wp-content/uploads/2022/04/fash-intro.jpg);">
  <div class="container fw-lighter text-center">
    <p>New in</p>
  </div>
</div>
<div class="container">
</div>
