.button {
  transition-duration: 0.4s;
    background-color: #e2b110e5;
    border: none;
    color: white;
    padding: 8px 16px;
    height: 35px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    max-width: max-content;
  }

.button:hover {
  background-color: #ffd025; /* Green */
  color: white;
}

.back-button {
  text-decoration: none;
  color: black;
}
.back-button:hover {
  color: rgb(117, 114, 114);
}
