.item-card {
  background-color: white;
  margin-top: 3px;
  border: 1px $gray solid;
  position:relative;
}
.item-card-heart {
  position: absolute;
  top: 100px;
  right: 30px;
}
.item-card img {
  // position: absolute;
  width: 100%;
  // height: 375px;
  object-fit: cover;
  // box-sizing: border-box;
  border-bottom: 1px $gray solid;
}
.card-info h2 {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-info p {
  position: relative;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.item-card .card-info {
  padding: 8px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}
.cards-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
.card-box {
  margin: auto;
  width: 900px;
}
.card-tags {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 150px;
  span {
    background: rgba(255, 98, 0, 0.724);
    font-size: .8em;
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 1px;
  }
  a {
    color: white;
  }
}
.card-bookings-buttons {
  padding-left: 80px;
  padding-right: 80px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
