.item-card {
  width: 280px;
  // overflow: hidden;
  background-color: white;
  margin-top: 3px;
  border: 1px $gray solid;
}

.item-card img {
  // position: absolute;
  // height: 300px;
  width: 100%;
  // box-sizing: border-box;
  border-bottom: 1px $gray solid;
}
.card-info h2 {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-info p {
  position: relative;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.item-card .card-info {
  padding: 8px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.card-box {
  margin: auto;
  width: 900px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
