.navbar-flex {
  flex:1;
}
.navbar{
  padding: 9px;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}


.navbar ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

.navbar li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #0d47a1
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
